<ion-view view-title="Evento">
    <ion-content>
      <div class="box-event-detail">
        <div class="list card">
          <div class="item">
            <p class="event-detail-title">{{data.title}}</p>
            <p>{{data.dateShow}}</p>
          </div>

          <div class="item item-image" ng-if="data.image">
            <img ng-src="{{data.image}}">
          </div>

          <a class="item item-icon-left">
            <i class="icon ion-ios-location-outline"></i>
            {{data.place}}
          </a>
          <a class="item item-icon-left">
            <i class="icon ion-ios-time-outline"></i>
            {{data.time}}
          </a>
          <div class="item-event-detail-description" ng-if="data.description">
            <p>{{data.description}}</p>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
