<ion-view view-title="Mural">
  <ion-content>
    <div class="home-area">
      <ion-slide-box show-pager="false" does-continue="true" auto-play="true" slide-interval="5000"
                     on-slide-changed="slideHasChanged($index)" ng-if="eventList.length>0">
        <ion-slide ng-repeat="event in eventList">
            <div ng-click="goToEventDetails(event)">
                <img class="slide-box-image" ng-src="{{event.image}}">
                <div class="banner-text-area">
                  <span class="banner-text">{{event.title}}</span>
                </div>
            </div>
        </ion-slide>
      </ion-slide-box>
      <div class="home-list-access">
        <a class="item item-icon-left" ui-sref="app.events">
          <i class="icon ion-ios-people-outline"></i>
          Eventos & Atividades
        </a>
        <i class="home-access-arrow ion-ios-arrow-right"></i>
      </div>
      <ion-slide-box show-pager="false" does-continue="true" auto-play="true" slide-interval="5000"
                     on-slide-changed="slideHasChanged($index)" ng-if="messageList.length>0">
        <ion-slide ng-repeat="message in messageList">
          <div ng-click="goToMessageDetails(message)">
            <img class="slide-box-image" ng-src="{{message.image}}">
            <div class="banner-text-area">
              <span class="banner-text">{{message.title}}</span>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
      <div class="home-list-access">
        <a class="item item-icon-left" ng-click="goToMessageList()">
          <i class="icon ion-document"></i>
          Mensagens
        </a>
        <i class="home-access-arrow ion-ios-arrow-right"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
