<ion-view view-title="Detalhes da mensagem">
    <ion-content>
        <section class="event-details">
          <div class="list card">
            <div class="item item-avatar">
              <span>{{message.title}}</span>
            </div>
            <div class="item item-avatar">
              <img >
              <h2>Marty McFly</h2>
              <p>{{message.dateCreation}}</p>
            </div>

            <div class="item item-body">
              <img class="full-image" ng-src="{{message.image}}">
              <p>{{message.text}}</p>
            </div>

          </div>
        </section>
    </ion-content>
</ion-view>
