<ion-view view-title="Mensagens">
  <ion-content>
    <section class="message-list">
      <ul class="list">
        <li class="item item-message-list" ng-repeat="message in data.list">
          <div ng-click="goToMessageDetails(message)">
            <p class="message-list-title">{{message.title}}</p>
            <p>{{message.dateCreation}}</p>
            <i class="message-detail-arrow ion-ios-arrow-right"></i>
          </div>
        </li>
      </ul>
    </section>
  </ion-content>
</ion-view>
