/* EVENT LIST */
section.event-list{
  color: #666;
  .item-event-list{
    padding: 10px 25px 10px 10px;
  }
  .event-list-title{
    font-size: 16px;
    font-weight: 600;
  }
  .event-detail-arrow{
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 25px;
    margin: -12px 0px 0px 0px;
    color: #6b46e5;
  }
}

/* EVENT DETAILS */
.box-event-detail{
  color: #666;
  .event-detail-title{
    position: relative;
    white-space: normal;
    font-size: 16px;
  }
  .item-event-detail-description{
    padding: 10px 16px 10px 16px;
    p{
      white-space: normal;
      margin: 0px 0px 0px 0px;
    }
  }
}
