.home-area{
  .slide-box-image{
    width: 100%;
    margin: auto;
    display: block;
  }
  .banner-text-area{
    display: block;
    height: 30px;
    background-color: #000000;
    opacity: 0.6;
    margin: -30px 0px 0px 0px;
    padding: 5px 0px 0px 5px;
    font-weight: 600;
  }
  .banner-text{
    color: #ffffff;
  }
  .button-event{
    margin: 0px 0px 0px 0px;
  }
  .home-list-access{
    background-color: #6b46e5;
    position: relative;
    .item{
      background-color: transparent;
      border: none;
      color: #ffffff;
    }
  }
  .home-access-arrow{
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 25px;
    margin: -12px 0px 0px 0px;
    color: #ffffff;
  }
}


